/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* section 1 */
.header-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E554731A;
    background-size: cover;


}

.header-titel {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 32px;

}

.btn {
    background: #E55473;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
    margin-top: 32px;

}

.img {
    width: 635px;
    height: 800px;

}

.flower-img {
    padding-top: 100px;
}


/* section 2 */
.flower-container {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    justify-content: center;
}

.flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 170px;
}

.flower-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding-top: 24px;
}

.flower-item {
    width: 200px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 110px 78px 0px 90px;
}

.second {
    background: rgba(5, 151, 160, 0.15);


}

.third {
    background: rgba(71, 125, 17, 0.15);
}

.flower-img {
    width: 200px;
    height: 250px;

}

.flower-name {
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    padding-top: 32px;
    te
}