/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* banner section */

.banner-container {
    display: flex;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
}


.container-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.container-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 32px;
}

.btn {
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
}

.banner-img {
    padding-top: 108px;
}

/* section 2 */
.featured-container {
    text-align: center;
    margin-top: 150px;
}

.featured-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.featured-item {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 70px;
}

.first-img-section {
    width: 390px;
    height: 450px;
    border-radius: 280px 280px 0 0;
    background: rgba(167, 33, 98, 0.15);
}

.second-img-section {
    width: 390px;
    height: 450px;
    border-radius: 280px 280px 0 0;
    background: rgba(5, 151, 160, 0.15);
}

.third-img-section {
    width: 390px;
    height: 450px;
    border-radius: 280px 280px 0 0;
    background: rgba(71, 125, 17, 0.15);
}

.img {
    width: 220px;
    height: 300px;
    margin-top: 150px;

}

.description {
    margin-top: 20px;
    text-decoration: underline;
    color: #272727;
    font-size: 16px;
    font-weight: 700;
}


/* section 3 */
.service-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-left: 340px;
    margin-right: 340px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 128px;
    padding: 85px 85px;
    border-radius: 5px;
}

.icon {
    width: 88px;
    height: 88px;
    padding-left: 80px;

}

.service-system {
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 600;
}

/* section 4 */
.hot-del-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}

.hot-del-contant {
    margin-left: 330px;
}

.hot-del-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-del-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.hot-del-img {
    width: 318px;
    height: 380px;
    margin: 100px 300px 100px 150px;
}

.font-color {
    color: #E55473;
}

/* section 4 */

.instagram-section {
    margin-top: 128px;
}

.instagram-info {
    text-align: center;
}

.instagram-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 48px;
}

.insta-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;

}


/* section 5 */




/* section */
.footer-section {
    background: #111010;
    text-align: center;

}

.footer-heading {
    font-size: 48px;
    font-weight: 800;
    color: white;
   padding-top: 128px;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.footer-des {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    padding-bottom: 128px;
   
}